/* GLOBAL  */
*{
    background-color: #121212;
}
/* NAV BAR STYLING */
.navbar{
    color: white;
    background-color: #121212;
    height: 95%;
    width: 5%;
    position: absolute;
    border: 1px solid pink;
}
.navbar-divider{
    position: absolute;
    width: 90%;
    height: 0px;
    left: 7px;
    top: 500px;
    border: 0.5px solid #1E1E1E;
    border-radius: 10px;
}
/* HEADER STYLING */
.header{
    color: white;
    background-color: #121212;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    width: 88%;
    height: 7%;
}
.header > h1{
    font-size: 50px;
    justify-content: center;
}
.header--icon{
    height: 55px;
    width: 55px;
    padding-right: 30px;
    margin-top: 30px;
}


/* CARD CONTAINER STYLING */
.cardContainer{
    color: white;
    background-color: #1E1E1E;
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
    width: 88%;
    height: 86.37%; /* Come back and use calc function to make more precise */
}
/* MAIN CARDS */
.maincards{
    color:white;
    position: absolute;
    margin-left: 205px;
    margin-top: 115px;
    width: 87.5%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.mainCardObject > ul{
    margin-top: 75px;
    list-style: none;
}
.mainCardImage{
    max-width: 375px;
    max-height: 100%;
}

/* SIDE CARDS */
.sidecards{
    color: white;
    position: absolute;
    margin-left: 205px;
    margin-top: 350px;
    width: 87.5%;
    height: 58%;
}

.sideCardObjects > ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    list-style: none;
}

/* MAIN CARD BUTTONS */
.cardObj{
    display: flex;
    width: 250px;
}
.playbutton{
    position: absolute;
    margin-top: 145px;
    margin-left: 5px;
    display: none;
    height: 75px;
    width: 75px;
    background-color: rgba(255, 255, 255, 0);
}
.addbutton{
    position: absolute;
    margin-top: 155px;
    margin-left: 300px;
    display: none;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0);
}

/* DISPLAYS BUTTON ON HOVER */
.cardObj:hover > .playbutton, .cardObj:hover > .addbutton{
    display: inline-block;
    color: yellow;
}
.playbutton:hover, .addbutton:hover{
    transform: scale(1.2);
}
/* SIDE CARD BUTTONS */
.sideCardObj{
    display: flex;
    width: 120px;
    height: 125px;
}
.smallplaybutton{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 86px;
    display: none;
    height: 40px;
    width: 40px;
}
.smalladdbutton{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 86px;
    margin-left: 78px;
    display: none;
    height: 35px;
    width: 35px;
}

/* SIDE CARD DISPLAY ON HOVER */
.sideCardObj:hover > .smallplaybutton, .sideCardObj:hover > .smalladdbutton{
    display: inline-block;
    color: yellow;
}

.smallplaybutton:hover, .smalladdbutton:hover{
    transform: scale(1.2);
}